
<div class="d-flex flex-row">
<div class="container">
  <div class="addNote">
    <mat-accordion  class="blur">
      <mat-expansion-panel [disabled]="false"
      #mep="matExpansionPanel" [ngClass]=" ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Note
          </mat-panel-title>
          <mat-panel-description>
            <strong> Add Note ...</strong>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex flex-column">
          <form [formGroup]="notesForm" class="d-flex flex-column align-items-center">
            <input type="text" placeholder="Title" class="modal-title" formControlName="title">
            <input type="text" placeholder="Take a note ...." class="modal-text" formControlName="notesMessage">
            <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
<emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
            <input type="file" hidden id="img" #img accept="image/*" (change)="uploadImage($event)">
          </form>
          <div class="d-flex justify-content-around">
            <button class="btn"><mat-icon>person_add</mat-icon></button>
            <button class="btn" (click)="img.click()"><mat-icon>insert_photo</mat-icon></button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
      <h3>Pinned</h3>
      <div class="d-flex flex-row flex-wrap" style=" width: 100%; height: 50%; margin-top: 50px;">
        <div *ngFor="let notes of PinnedArray" class="display-pinned">
          <div *ngIf=" (notes.pin===1)">
          <mat-accordion>
            <mat-expansion-panel [disabled]="false"
            #mep="matExpansionPanel">
              <mat-expansion-panel-header>
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description>
                  <strong> <input type="text" [value]=notes.text  class="showValue" placeholder="Text ....">
                    <!-- <emoji-mart title="Pick your emoji…" emoji="point_up" title="Pick your emoji…"
                    (emojiSelect)="addEmoji($event)"
                    [hideObsolete]="true"
                    [isNative]="true"></emoji-mart>   -->
                  </strong>
                  <button class="btn" (click)="unpin(notes.noteId)"><mat-icon>bookmark</mat-icon></button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="notes-content d-flex flex-column">
                <input type="text" name="" id="" [value]=notes.title  class="showValue"  placeholder="Title..">
                <div *ngIf="notes.isReminder"> <p>Remainder Added <mat-icon>timer</mat-icon> </p></div>
                <div *ngIf="notes.isShared"> <p>Shared Added <mat-icon>person_add</mat-icon> </p></div>
                <div *ngIf="(notes.messageType===2)" >
                  <img [src]=notes.images alt="" srcset="" style=" width: 50px; height: 50px;">
                </div>
                <div class="footer d-flex flex-wrap ">
                  <button class="btn"  (click)="showDatePicker(notes.noteId)" data-bs-toggle="modal"
                  data-bs-target="#exampleModal"> <mat-icon>timer</mat-icon></button>
                  <button class="btn"><mat-icon>person_add</mat-icon></button>
                  <input type="file" hidden id="img" #img accept="image/*" (change)="uploadImage($event)">
                  <button class="btn" (click)="img.click()"><mat-icon>insert_photo</mat-icon></button>
                  <button class="btn"><mat-icon>create</mat-icon></button>
                  <button class="btn" (click)="mep.toggle()"><mat-icon>cancel</mat-icon></button>
                  <button (click)="moveToTrash(notes.noteId)">trash</button>
                  <button (click)="moveToArchieve(notes.noteId)"><mat-icon>archive</mat-icon></button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          </div>
        </div>
      </div>
  </div>
  <hr>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form #emailForm = "ngForm" (ngSubmit)="onSubmit(emailForm)">
        <label for="emailEnter"> Enter Your Email </label>
        <input type="email" id="user_email" name="email" ngModel #email="ngModel" required  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"> 
        <div class="alert alert-danger" *ngIf="email.errors?.['pattern']">
                Please enter a valid email
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Send Link </button>
      </form>
    </div>
  </div>
  <div class="showNotes" (click)="clickInside()">
      <div class="d-flex flex-row flex-wrap" style=" width: 100%; height: 100%; margin-top: 50px;">
      <div *ngFor="let notes of notesArray" class="display">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src=notes.images alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div *ngIf="notes.isReminder"> <p>Remainder Added <mat-icon>timer</mat-icon> </p></div>
                <div *ngIf="notes.isShared"> <p>Shared Added <mat-icon>person_add</mat-icon> </p></div>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
            <div [visible]="visible" cCollapse>
              <c-card class="mt-3 shadow">
                <c-card-body>
                  <div class="footer d-flex flex-wrap ">
                    <button class="btn"  (click)="showDatePicker(notes.noteId)" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"> <mat-icon>timer</mat-icon></button>
                    <button class="btn" title="share" (click)="Share(notes.noteId)"><mat-icon>person_add</mat-icon></button>
                    <input type="file" hidden id="img" #img accept="image/*" (change)="updateImage($event)">
                    <button class="btn" (click)="img.click()"><mat-icon>insert_photo</mat-icon></button>
                    <button class="btn"><mat-icon>create</mat-icon></button>
                    <button class="btn" (click)="mep.expanded = !mep.expanded"><mat-icon>cancel</mat-icon></button>
                    <button class="btn" (click)="moveToTrash(notes.noteId)"><mat-icon>delete</mat-icon></button>
                    <button class="btn" (click)="moveToArchieve(notes.noteId)"><mat-icon>archive</mat-icon></button>
                  </div>
                </c-card-body>
              </c-card>
            </div>11
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button (click)="toggleCollapse()">Options</button>
          </mat-card-actions>
        </mat-card>


        <mat-accordion>
          <mat-expansion-panel [disabled]="false"
          #mep="matExpansionPanel">
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
              <mat-panel-description>
                <strong>
                  <div *ngIf="notes.isReminder"> <p>Remainder Added <mat-icon>timer</mat-icon> </p></div>
                <div *ngIf="notes.isShared"> <p>Shared Added <mat-icon>person_add</mat-icon> </p></div>
                  <!-- <emoji-mart title="Pick your emoji…" emoji="point_up" title="Pick your emoji…"
                  (emojiSelect)="addEmoji($event)"
                  [hideObsolete]="true"
                  [isNative]="true"></emoji-mart> -->
                </strong>
                <button class="btn" (click)="pinNote(notes.noteId)"><mat-icon>bookmark_border</mat-icon></button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="notes-content d-flex flex-column">
              <form [formGroup]="EditNoteForm">
                <input type="text" name="" id="" [value]=notes.title  class="showValue" placeholder="Title.." formControlName="title">
              <input type="text" [value]=notes.text  class="showValue"  placeholder="Text ...." formControlName="notesMessage">
              <input type="file" hidden id="img" #img accept="image/*" (change)="uploadImage($event)">
              <div *ngIf="(notes.messageType===2)" >
                <img [src]=notes.images alt="" srcset="" style=" width: 50px; height: 50px;">
              </div>
            </form>
              <div class="footer d-flex flex-wrap ">
                <button class="btn"  (click)="showDatePicker(notes.noteId)" data-bs-toggle="modal"
                data-bs-target="#exampleModal"> <mat-icon>timer</mat-icon></button>
                <button class="btn" title="share" (click)="Share(notes.noteId)"><mat-icon>person_add</mat-icon></button>
                <input type="file" hidden id="img" #img accept="image/*" (change)="updateImage($event)">
                <button class="btn" (click)="img.click()"><mat-icon>insert_photo</mat-icon></button>
                <button class="btn"><mat-icon>create</mat-icon></button>
                <button class="btn" (click)="mep.expanded = !mep.expanded"><mat-icon>cancel</mat-icon></button>
                <button (click)="moveToTrash(notes.noteId)">trash</button>
                <button (click)="moveToArchieve(notes.noteId)"><mat-icon>archive</mat-icon></button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
</div>

<!-- // Alarm Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Add Timer</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="datetime-local" (change)="onDate($event)" (change)="validateRemainder($event)">
      <p *ngIf="validateTimer" style="color: red">
         Please Enter A valid Date
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="createTimer()">Send</button>
    </div>
  </div>
  </div>
