<app-navbar></app-navbar>
<div class="model">
   <div class="modal-content show">
    <form ngForm="notesForm">
       <input type="text" placeholder="Title" class="modal-title" >
       <input type="text" placeholder="Take a note ...." class="modal-text" >
       <span class="modal-close-button">close </span>
      </form>
  </div>
      <main>
        <header>
          <img src="" alt="" srcset="">
        </header>

        <div id="notes"></div>
        <div id="placeholder"></div>
        <p id="placeholder-text"> Notes You add appear here</p>
      </main>
</div>
