body {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.addNote {
  background-color: white;
  margin-top: 20px;
  width: 90vw;
}

.createNoteForm {
  width: 600px;
  margin: 0 auto;
}

.PinnedNotes {
  background-color: darkcyan;
  width: 96vw;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.showNotes {
  background-color: #00684A;
  width: 96vw;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}


.sidebar {
  width: 100px;
  height: 800px;
}

.showValue {
  border: none;

}

.bdrop {
  background-color: #bbbbbbf2;
  backdrop-filter: blur(4px);
}


.multiple-filters {
  backdrop-filter: blur(20px) saturate(120%) contrast(200%);
}

.footer {
  justify-self: baseline;
}

.example-card {
  width: inherit;
  height: 250x;
}