<div class="d-flex flex-row flex-wrap showNotes">

  <div *ngFor="let notes of trashArray ; let i=index">
    <mat-card class="example-card me-3 mb-3" style="border-radius: 10px;">
      <div class="d-flex flex-row justify-content-end" style="height: 40px; border-bottom: 1px solid gainsboro;">
        <button class="btn" title="delete" (click)="delete(notes.noteId)"><mat-icon>delete_forever</mat-icon></button>
        <button class="btn" title="restrore" (click)="restrore(notes.noteId)"><mat-icon>restore_from_trash</mat-icon>
        </button>
        <button class="btn" (click)="toggleCollapse(i)"><img src="https://img.icons8.com/?size=512&id=22261&format=png"
            alt="" style="height: 10px;float: right;"></button>
      </div>
      <mat-card-subtitle style="margin-left: 14px;"><span>Title: </span><input type="text" [value]=notes.title
          class="showValue" disabled></mat-card-subtitle>
      <mat-card-content>
        <div [visible]="notes.isVisible" cCollapse #card="cCollapse">
          <c-card class="mt-3 shadow">
            <c-card-body>
              <mat-card-subtitle><span>Message: </span><input type="text" [value]=notes.text class="showValue"
                  disabled></mat-card-subtitle>
              <div *ngIf="notes.messageType === MessageType">
                <img mat-card-image [src]=notes.images style="width: 270px;height: 200px;border-radius:0 0 10px 10px;">
              </div>
            </c-card-body>
          </c-card>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>