
<div style="width: auto; height: fit-content;  margin-left: 50px;">
<div class="showNotes">
    <div>
      <div class="d-flex flex-row flex-wrap" style=" width: 100%; height: 100%; margin-top: 100px;">
      <div *ngFor="let notes of trashArray" class="display">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
              </mat-panel-title>
              <mat-panel-description>
                <strong>{{notes.text}}</strong>
                <div *ngIf="notes.isReminder"> <p>Remainder Added <mat-icon>timer</mat-icon> </p></div>
                <div *ngIf="notes.isShared"> <p>Shared Added <mat-icon>person_add</mat-icon> </p></div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="notes-content d-flex flex-column">
              <div>{{notes.title}}</div>
              <div *ngIf="(notes.messageType===2)" >
                <img [src]=notes.images alt="" srcset="" style=" width: 50px; height: 50px;">
              </div>
              <div class="d-flex flex-wrap ">
                <button class="btn" (click)="delete(notes.noteId)"><mat-icon>delete_forever</mat-icon></button>
                <button class="btn" (click)="restrore(notes.noteId)"><mat-icon>restore_from_trash</mat-icon> </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    </div>
  </div>
</div>