.row {
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 600px;
  /* Increased width */
  padding: 40px;
  /* Increased padding */
  background-color: aliceblue;
  border: 0.1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  /* Increased margin */
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.alert {
  margin-top: 10px;
  font-size: 14px;
  color: #dc3545;
}

.text-center {
  text-align: center;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: darkslateblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}