<div class="container align-items-center pt-5">
  <div class="row mt-5">
    <div class="form-container">
      <h1>Forgot Password</h1>
      <div class="form-group">
        <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
          <div class="form-group">
            <label for="emailEnter">Email</label>
            <input type="email" id="user_email" name="email" ngModel #email="ngModel" required
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control"
              placeholder="example@example.com">
            <div class="alert" *ngIf="email.errors?.['pattern']">
              Please enter a valid email
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>