<div style="position: fixed;">
    <button class="btn btn-close" (click)="GoBack()"></button>
  </div>
  <div class="container">
    <div class="heading">
        <h4> Change Password</h4>
    </div> 
      <form [formGroup]="changePasswordform" (ngSubmit)="ChangePassword(changePasswordform)" novalidate>
      <label>Enter Old Password</label>    
      <input class="form-control" matInput [type]="showPassword ? 'password' : 'text'"  formControlName="oldPassword" [class.is-invalid]="fControls['oldPassword'].invalid && fControls['oldPassword'].touched"  >
      <div *ngIf="fControls['oldPassword'].invalid && fControls['oldPassword'].touched" class="alert alert-danger"  >
          Password is required
        </div>
      <label>Enter new Password</label> 
      <input class="form-control"  matInput [type]="showPassword ? 'password' : 'text'" formControlName="newPassword"  [ngClass]='confirmPasswordClass'#pw [class.is-invalid]="fControls['newPassword'].invalid&& fControls['newPassword'].touched">
      <div *ngIf="fControls['newPassword'].errors?.['pattern']" class="alert alert-danger"  >
          Password must contain at least one number, one uppercase and a lowercase letter 
          and at least 8 characters<br>Password cannot contain whitespace
        </div>
      <label> Confirm Password</label> 
      <input class="form-control" matInput [type]="showPassword ? 'password' : 'text'"   formControlName="confirmPassword"  [ngClass]='confirmPasswordClass' #cpw (keyup)="checkPasswords(pw.value, cpw.value)" [class.is-invalid]="fControls['confirmPassword'].invalid&& fControls['confirmPassword'].touched">
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword?'visibility_off':'visibility'}}
    </mat-icon>
      <div *ngIf="fControls['confirmPassword'].errors?.['pattern']" class="alert alert-danger"   >
          Password must contain at least one number, one uppercase and a lowercase letter 
          and at least 8 characters<br>Password cannot contain whitespace
        </div>
  
        <div  class="alert-danger" *ngIf="messageShow">
          {{message}}
          </div>
        <div class="button">
      <button type="submit" [disabled]="changePasswordform.invalid">Submit </button>
    </div>
  </form>
  </div>
  
  
