<div style="position: fixed;">
  <button class="btn btn-close" (click)="GoBack()"></button>
</div>
<div class="mainDiv">
  <div class="cardStyle">
    <h4 class="formTitle"> Change Password</h4>
    <form [formGroup]="changePasswordform" (ngSubmit)="ChangePassword(changePasswordform)">
      <div class="inputDiv">
        <label>Enter Old Password</label>
        <input class="form-control" matInput [type]="showPassword ? 'password' : 'text'" formControlName="oldPassword">
      </div>
      <div *ngIf="changePasswordform.controls['oldPassword'].touched &&  changePasswordform.controls['oldPassword'].hasError('required')" class=" alert alert-danger">
        Password must contain at least one number, one uppercase and a lowercase letter
        and at least 8 characters....Password cannot contain whitespace
      </div>
      <div class="inputDiv">
        <label>Enter new Password</label>
        <input class="form-control" matInput [type]="showPassword ? 'password' : 'text'" formControlName="newPassword"
          [ngClass]='confirmPasswordClass' #password >
        </div>
        <p *ngIf="changePasswordform.controls['newPassword'].touched &&  changePasswordform.controls['newPassword'].hasError('required') || changePasswordform.controls['newPassword'].hasError('pattern')" class=" alert alert-danger">
          Password must contain at least one number, one uppercase and a lowercase letter
          and at least 8 characters....Password cannot contain whitespace
        </p>
      <div class="inputDiv">
        <label> Confirm Password</label>
        <input class="form-control" matInput [type]="showPassword ? 'password' : 'text'"
          formControlName="confirmPassword" [ngClass]='confirmPasswordClass' #confirmPassword
          (keyup)="checkPasswords(password.value, confirmPassword.value)">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
        <p *ngIf="changePasswordform.controls['confirmPassword'].touched &&  changePasswordform.controls['confirmPassword'].hasError('required') || changePasswordform.controls['confirmPassword'].hasError('pattern')"
          class=" alert alert-danger">
          Password must contain at least one number, one uppercase and a lowercase letter
          and at least 8 characters....Password cannot contain whitespace
        </p>
      </div>
      <div class="button">
        <button type="submit"  class="submitButton pure-button pure-button-primary" >Submit </button>
      </div>
    </form>
  </div>
</div>