<!-- <div class="vh-100" style="background-color: #eee;">
    <div class="container container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h1 class="text-center mb-4 ">SignUp</h1>
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <div class="formDisplay card">
                    <form [formGroup]="registrationForm" (ngSubmit)="resgisterUser()" class="frm form-card">
                        <div class="row justify-content-between text-left">
                            <div class="input-field form-group  col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">First Name<span class="text-danger">
                                        *</span></label>
                                <input type="text" formControlName="firstName" />
                                <p class="alert alert-danger" role="alert"
                                    *ngIf="registrationForm.controls['firstName'].touched &&  registrationForm.controls['firstName'].hasError('required') ">
                                    firstName is required
                                </p>
                            </div>
                            <div class="input-field form-group  col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Surname <span class="text-danger">
                                        *</span></label>
                                <input type="text" formControlName="lastName" />
                                <p class="alert alert-danger" role="alert"
                                    *ngIf=" registrationForm.controls['lastName'].touched &&  registrationForm.controls['lastName'].hasError('required')">
                                    lastName is required
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="input-field form-group  col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
                                <input type="email" formControlName="email" />
                                <small class="alert alert-danger" role="alert"
                                    *ngIf=" registrationForm.controls['email'].touched &&  registrationForm.controls['email'].hasError('required') || registrationForm.controls['email'].hasError('pattern') ">
                                    PLease Enter a valid Email-Id
                                </small>
                            </div>
                            <div class="input-field form-group  col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Phone <span class="text-danger"> *</span></label>
                                <input type="text" formControlName="phoneNo"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                                <div class="alert alert-danger" role="alert"
                                    *ngIf="registrationForm.controls['phoneNo'].touched &&  registrationForm.controls['phoneNo'].hasError('required')|| registrationForm.controls['phoneNo'].hasError('pattern')">
                                    PLease Enter a valid Contact Number
                                </div>
                            </div>
                        </div>
                        <div class="input-field form-group  col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">DOB <span class="text-danger"> *</span></label>
                            <input type="date" formControlName="dateOfBirth" (change)="validateDOB($event)" />
                            <p *ngIf="validateDateOfbirth || registrationForm.controls['dateOfBirth'].touched &&  registrationForm.controls['dateOfBirth'].hasError('required') "
                                style="color: red"> Age must be greater than 12 </p>
                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="input-field form-group  col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Password <span class="text-danger"> *</span>
                                </label>
                                <input matInput [type]="showPassword ? 'password' : 'text'"
                                    formControlName="password" />
                                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                    {{showPassword?'visibility_off':'visibility'}}
                                </mat-icon>
                            </div>
                            <small class="alert alert-danger" role="alert" style=" float: right;"
                                *ngIf="registrationForm.controls['password'].touched &&  registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('pattern') ">
                                Password must contain more than 8 characters, 1 upper case letter, and
                                1 special character
                            </small>
                        </div>
                        <div class="row justify-content-end">
                            <button type="submit">
                                Submit
                            </button>
                        </div>
                        <div>
                            <label class="form-control-label px-3">Already Have a account ?</label>
                            <button type="button" (click)="login()">LogIn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->



         

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form [formGroup]="registrationForm" (ngSubmit)="resgisterUser()" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control" formControlName="firstName" />
                        <label class="form-label" for="form3Example1c">Your Name  <span class="text-danger"> *</span></label>
                      </div>
                      <p class="alert alert-danger" role="alert"
                      *ngIf="registrationForm.controls['firstName'].touched &&  registrationForm.controls['firstName'].hasError('required') ">
                      firstName is required
                  </p>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example3c" class="form-control" formControlName="lastName" />
                        <label class="form-label" for="form3Example3c">lastName <span class="text-danger"> *</span></label>
                      </div>
                      <p class="alert alert-danger" role="alert"
                      *ngIf=" registrationForm.controls['lastName'].touched &&  registrationForm.controls['lastName'].hasError('required')">
                      lastName is required
                  </p>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example4c" class="form-control" formControlName="email"/>
                        <label class="form-label" for="form3Example4c">Email-Id <span class="text-danger"> *</span></label>
                      </div>
                    </div>
                    <small class="alert alert-danger" role="alert"
                                  *ngIf=" registrationForm.controls['email'].touched &&  registrationForm.controls['email'].hasError('required') || registrationForm.controls['email'].hasError('pattern') ">
                                  PLease Enter a valid Email-Id
                              </small>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                          <input type="text" formControlName="phoneNo"
                          oninput="this.value = this.value.replace(/[^0-9]/g, '')" class="form-control" />
                          <label class="form-label" for="form3Example4cd">Phone Number  <span class="text-danger"> *</span></label>
                        </div>
                    </div>
                    <p class="alert alert-danger" role="alert"
                        *ngIf="registrationForm.controls['phoneNo'].touched &&  registrationForm.controls['phoneNo'].hasError('required')|| registrationForm.controls['phoneNo'].hasError('pattern')">
                        PLease Enter a valid Contact Number
                </p>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4cd"> Date Of Birth  <span class="text-danger"> *</span> </label>
                          <input type="date" id="form3Example4cd" class="form-control" formControlName="dateOfBirth"/>
                        </div>
                    </div>
                    <p *ngIf="validateDateOfbirth || registrationForm.controls['dateOfBirth'].touched &&  registrationForm.controls['dateOfBirth'].hasError('required') "
                            style="color: red"> Age must be greater than 12 </p>


                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input matInput [type]="showPassword ? 'password' : 'text'"
                            formControlName="password" class="form-control" />
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{showPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                            <label class="form-label" for="form3Example4cd" > Password <span class="text-danger"> *</span></label>
                        </div>
                      </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>