<section class="vh-100 justify-content-center align-items-center pt-5" style="background-color:#9A616D;">
  <div class="card-body p-md-5 m-0 bak justify-content-center align-items-center">
    <div class="row justify-content-center">
      <h1 class="text-center" style="font-size: 34px;margin-top: 20px; color: white;">Note App</h1>
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 pt-5"
        style="background-color: aliceblue; padding-bottom: 20px;border-radius: 10px;">

        <form [formGroup]="registrationForm" (ngSubmit)="resgisterUser()" class="mx-1 mx-md-4">

          <div class="d-flex flex-row align-items-center mb-1">
            <div class="form-outline flex-fill">
              <label class="form-label" for="form3Example1c">First Name</label>
              <input type="text" id="form3Example1c" class="form-control" formControlName="firstName" />
              <label class="alert p-0 m-0" role="alert"
                *ngIf="registrationForm.controls['firstName'].touched &&  registrationForm.controls['firstName'].hasError('required') ">
                Firstname is required
              </label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-1">
            <div class="form-outline flex-fill">
              <label class="form-label" for="form3Example3c">Last Name </label>
              <input type="text" id="form3Example3c" class="form-control" formControlName="lastName" />
              <label class="alert p-0 m-0" role="alert"
                *ngIf=" registrationForm.controls['lastName'].touched &&  registrationForm.controls['lastName'].hasError('required')">
                Lastname is required
              </label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-1">
            <div class="form-outline flex-fill">
              <label class="form-label" for="form3Example4c">Email </label>
              <input type="email" id="form3Example4c" class="form-control" formControlName="email" />
              <label class="alert p-0 m-0" role="alert"
                *ngIf=" registrationForm.controls['email'].touched &&  registrationForm.controls['email'].hasError('required') || registrationForm.controls['email'].hasError('pattern') ">
                Please enter a valid Email
              </label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-1">
            <div class="form-outline flex-fill">
              <label class="form-label" for="form3Example4cd">Phone Number</label>
              <input type="text" formControlName="phone" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                class="form-control" />
              <label class="alert p-0 m-0" role="alert"
                *ngIf="registrationForm.controls['phone'].touched &&  registrationForm.controls['phone'].hasError('required')|| registrationForm.controls['phone'].hasError('pattern')">
                Please enter a valid Phone Number
              </label>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-1">
            <div class="form-outline flex-fill">
              <label class="form-label" for="form3Example4cd"> Password</label>
              <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password"
                class="form-control" />
              <label class="alert p-0 m-0" role="alert"
                *ngIf="registrationForm.controls['password'].touched &&  registrationForm.controls['password'].hasError('required') || registrationForm.controls['password'].hasError('pattern') ">
                Please enter valid Password
              </label>
            </div>

          </div>



          <button type="submit" class="btn btn-primary">Register</button>


          <button type="button" style="float: right;" class="btn btn-success" (click)="login()">Login</button>
        </form>

      </div>

    </div>
  </div>
</section>