.example-container {
    width: 190px;
    height: 800px;
  }
  
  .example-sidenav-content {
    width: 200px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }