<nav class="navbar navbar-dark bg-light d-flex flex-row">
    <div class="container-fluid">
        <button class="btn" (click)="showSidebar()"> <mat-icon>dehaze</mat-icon></button>
    <div>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text text-white border-0" id="search-addon">
          <mat-icon>searchx</mat-icon>
        </span>

    </form>
</div>
<button class="btn" (click)="logOut()"> <mat-icon>power_settings_new</mat-icon></button>
<button class="btn" (click)="changePass()"> change password</button>
<button class="btn"  [cModalToggle]="staticBackdropModal.id"> <mat-icon>person</mat-icon> </button>
</div>
</nav>



<c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
  <c-modal-header>
    <h5 cModalTitle>Profile</h5>
    <button [cModalToggle]="staticBackdropModal.id" button>Close</button>
  </c-modal-header>
  <c-modal-body>
    <div class="d-flex flex-column">
    <div class="align-self-center">
    <img [src]=imagePath  alt="" srcset="" style="width: inherit; height: 100px; border-radius: 50%;">
    <input type="file" hidden id="img" #img accept="image/*" (change)="UploadProfilePhoto($event)">
    <button class="btn" (click)="img.click()"><mat-icon> insert_photo</mat-icon></button>
  </div>
    <div class="align-self-center">
      <div *ngFor=" let user of UserDeatils">
        <p>
          {{user.firstName}}
        </p>
      </div>
    </div>
  </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="staticBackdropModal.id" cButton color="secondary">
      Close
    </button>
    <!-- <button cButton color="primary">Understood</button> -->
  </c-modal-footer>
</c-modal>