<div class="mainDiv">
    <div class="cardStyle">
      <form [formGroup]="resetPasswordForm"  name="signupForm" id="signupForm" (ngSubmit)="resetPass()">
        
        <h2 class="formTitle">
         Reset Password 
        </h2>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input matInput [type]="showPassword ? 'password' : 'text'" id="password" name="password" #pw formControlName="password"  [ngClass]='confirmPasswordClass'>
        <p *ngIf="resetPasswordForm.controls['password'].touched &&  resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('pattern')" class=" alert alert-danger">
          Password must contain at least one number, one uppercase and a lowercase letter 
          and at least 8 characters....Password cannot contain whitespace
        </p>
      </div>
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input  matInput [type]="showPassword ? 'password' : 'text'" [ngClass]='confirmPasswordClass' id="formGroupExampleInput2" #cpw (keyup)="checkPasswords(pw.value, cpw.value)" placeholder="Another input placeholder" formControlName="confirmPassword"  >
        <p *ngIf="resetPasswordForm.controls['password'].touched &&  resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('pattern')" class=" alert alert-danger">
          Password must contain at least one number, one uppercase and a lowercase letter 
          and at least 8 characters....Password cannot contain whitespace
        </p>
      </div>
      <div class="inputDiv">
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword?'visibility_off':'visibility'}}
    </mat-icon>
    </div>
      <div class="buttonWrapper">
        <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary">
          <!-- <span>Continue</span>
          <span id="loader"></span> -->
        </button>
      </div>
        
    </form>
    </div>
  </div>
