<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Reset Password</h2>
          <form [formGroup]="resetPasswordForm" name="signupForm" id="signupForm" (ngSubmit)="resetPass()">
            <div class="form-group">
              <label for="password">New Password</label>
              <input matInput [type]="showPassword ? 'password' : 'text'" id="password" name="password" #pw
                formControlName="password" [ngClass]='confirmPasswordClass' placeholder="New Password"
                class="form-control mb-3">
              <small
                *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('pattern')"
                class="text-danger">Password must contain at least one number, one uppercase and a lowercase letter and
                at
                least 8 characters.</small>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input matInput [type]="showPassword ? 'password' : 'text'" [ngClass]='confirmPasswordClass'
                id="formGroupExampleInput2" #cpw (keyup)="checkPasswords(pw.value, cpw.value)"
                placeholder="Confirm Password" formControlName="confirmPassword" class="form-control mb-3">
              <small
                *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].hasError('required') || resetPasswordForm.controls['password'].hasError('pattern')"
                class="text-danger">Password must contain at least one number, one uppercase and a lowercase letter and
                at
                least 8 characters.</small>
            </div>
            <div class="form-group">
              <mat-icon matSuffix (click)="togglePasswordVisibility()" class="password-toggle-icon">
                {{showPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </div>
            <div>
              <button type="submit" id="submitButton" class="btn btn-success" [disabled]="!resetPasswordForm.valid"
                style="width: 100%;">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>