<div>
    <app-navbar></app-navbar>
</div>
<div class="main-content">
<div class="sidebar">
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" move="side" style="margin-top: 60px; width: 200px; position: absolute;">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <div *ngFor=" let button of Showbutton">
            <button class="btn" (click)="showComponent($event)" [value]=button >{{button}}</button>
        </div>
        </div>
    </div>
</div>
<div [ngSwitch]="selectedVal">
    <div *ngSwitchCase="'trash'"><app-trash></app-trash></div>
    <div *ngSwitchCase="'archieve'"><app-archive></app-archive></div>
    <div *ngSwitchCase="'notes'"><app-notes></app-notes></div>
    <div *ngSwitchDefault ><app-notes></app-notes></div>
</div>
</div>

